<section id="galerie-statica">
    <h2 class="titlu-grid">
        <i class="fa-solid fa-image"><span>&nbsp;&nbsp;</span></i>galerie
    </h2>
    <div id="grid-galerie">
        <% let nrd=0; let nrz=0; let nrn=0; 
            for (let imag of locals.imagini) { 
                var d=new Date().getHours(); 
                if (imag.timp) { if (d>= 5 && d < 12 && imag.timp=="dimineata" ) { nrd++; } 
                else if (d >= 12 && d < 20 && imag.timp=="zi" ) { nrz++; } 
                else if ((d >= 20 || d < 5) && imag.timp=="noapte" ) { nrn++; }
                }
            }
            nrd=parseInt(nrd/3,10)*3; 
            nrz=parseInt(nrz/3,10)*3;
            nrn=parseInt(nrn/3,10)*3;
            for (imag of locals.imagini) {
                if (d>= 5 && d < 12 ) { 
                    if (imag.timp == "dimineata" ) {
                        if(nrd == 0) break; 
                        else { %>
                            <figure>
                                <picture>
                                    <source srcset=" <%- imag.fisier_mediu %> " media="max-width:1200px" />
                                    <source srcset=" <%- imag.fisier_mic %> " media="max-width:750px" />
                                    <img src="<%- imag.fisier %>" alt="<%- imag.descriere %>" />
                                </picture>
                                <figcaption> <%- imag.descriere %> </figcaption>
                            </figure>
                            <% nrd--; 
                        } 
                    } 
                } 
                if (d>= 12 && d < 20 ) { 
                    if (imag.timp == "zi" ) { 
                        if(nrz == 0) break; 
                        else { %>
                            <figure>
                                <picture>
                                    <source srcset=" <%- imag.fisier_mediu %> " media="max-width:1200px" />
                                    <source srcset=" <%- imag.fisier_mic %> " media="max-width:750px" />
                                    <img src="<%- imag.fisier %>" alt="<%- imag.descriere %>" />
                                </picture>
                                <figcaption> <%- imag.descriere %> </figcaption>
                            </figure>
                            <% nrz--; 
                        } 
                    } 
                } 
                if (d >= 20 || d < 5 ) { 
                    if (imag.timp == "noapte" ) { 
                        if(nrn == 0) break; 
                        else { %>
                            <figure>
                                <picture>
                                    <source srcset=" <%- imag.fisier_mediu %> " media="max-width:1200px" />
                                    <source srcset=" <%- imag.fisier_mic %> " media="max-width:750px" />
                                    <img src="<%- imag.fisier %>" alt="<%- imag.descriere %>" />
                                </picture>
                                <figcaption> <%- imag.descriere %> </figcaption>
                            </figure>
                            <% nrn--; 
                        } 
                    } 
                } 
            } %>
    </div>
</section>